.question_box {
    max-width: 30rem;
    margin: 1rem;
    padding: 2rem;
}

.answes_opt {
    margin: 1rem;
}

.next_btn {
    max-width: 4rem;
}

.timer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.correct {
    color: green;
}

.inCorrect {
    color: red;
}

.mlauto {
    margin-left: auto;
}